---
---

@import "{{ site.theme }}";

.page-header {
  color: #ccc !important;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-image: url("https://i.gifer.com/2eSd.gif");
}

div {
     color: #fff; 
}
