---
---

@import "{{ site.theme }}";

.page-header {
  background-repeat: no-repeat; /* Do not repeat the image */
  background-image: url("https://i.gifer.com/2eSd.gif"), url("https://media.giphy.com/media/Q9AqhK2GgnIf1zh3yF/giphy.gif"), linear-gradient(0deg, rgba(198,42,18,0.9864320728291317) 0%, rgba(98,0,0,1) 100%);
}

div {
     color: #fff; 
}
